<% if @cocktail.photo.attached? %>
  <div class="map" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')"></div>
<% else %>
  <div class="map"></div>
<% end %>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="cocktail-show-card">
        <h1><%= @cocktail.name %></h1>
      </div>
      <div class="cocktail-show-card">
        <h3>A bit more about this cocktail...</h3>
        <p>Lorem ipsum</p>
      </div>
      <%= link_to 'Edit cocktail', edit_cocktail_path(@cocktail), class:"btn btn-outline-success" %>
      <%= link_to 'Delete cocktail', cocktail_path(@cocktail),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class:"btn btn-outline-danger" %>
      <%= link_to 'Back to cocktails', root_path, class:"btn btn-outline-dark" %>
    </div>

    <div class="col-4">
      <div class="cocktail-show-card">
        <strong>Ingredients</strong>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name %> - <%= dose.description %></li>
          <% end %>
        </ul>
      </div>
      <div class="cocktail-show-card">
        <div class="flex-align">
          <strong class="no-mb">Share</strong>
          <div class="flex">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
            <i class="fab fa-pinterest-square fa-2x"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
